<!DOCTYPE HTML>
<html>
<head>
    <title>Dzen Tech</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Приветствуем в нашем магазине "Dzen Tech"</div>
<a href="/main">Добро пожаловать, админ!</a>
</body>
</html>