<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</div>
<div>Названия категорий: phones, monitors, watches</div>
<div>
<p>
<form method="post" action="add" style="float: left; display: inline-block;">
    <input type="text" name="text" placeholder="Введите название категории" size="30"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">добавить</button>
</form>

<form method="post" action="addAll" style="float: left; display: inline-block;">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">добавить все</button>
</form>
</p>
</div>
<div>
    <form method="post" action="remove" style="float: left; display: inline-block;">
        <label>&nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="text" placeholder="Введите название категории" size="30"/> </label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">убрать</button>
    </form>
    <form method="post" action="removeAll">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">убрать все</button>
    </form>
</div>
<div>Фильтры:</div>
<form method="get" action="main">
    <label> Цена от : <input type="number" name="priceFromFilter" placeholder="Min Price"/> </label>
    <label> Цена до : <input type="number" name="priceToFilter" placeholder="Max Price"/> </label>
    <label> Дата от : <input type="date" name="dateFromFilterString" placeholder="2000-10-20"/> </label>
    <label> Дата до : <input type="date" name="dateToFilterString" placeholder="2020-05-20"/> </label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Найти</button>
</form>
<div>Список товаров</div>
<table border="1">
    <caption>Смартфоны</caption>
    <tr>
        <th>Идентификатор</th>
        <th>Название</th>
        <th>Модель</th>
        <th>Цена</th>
        <th>Дата и время</th>
    </tr>
    {{#phones}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{model}}</td>
            <td>{{price}}</td>
            <td>{{instant}}</td>
        </tr>
    {{/phones}}
</table>
<div>
    <form method="post" action="deletePhone">
        <label>Удаление записи: <input type="number" name="number" placeholder="Введите идентификатор"
                                       size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label>Вы уверены?<input type="checkbox" name="submission"/> </label>
        <button type="submit">удалить</button>
    </form>
    <form method="post" action="editPhone">
        <label>Редактирование записи: <input type="number" name="number" placeholder="Введите идентификатор" size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label> Название : <input type="text" name="name" placeholder="New Name"/> </label>
        <label> Модель : <input type="text" name="phModel" placeholder="New Model"/> </label>
        <label> Цена : <input type="number" step="0.01" name="price" placeholder="New Price"/> </label>
        <label> Дата : <input type="date" name="dateString" placeholder="2020-05-20"/> </label>
        <button type="submit">редактировать</button>
    </form>
</div>
<br>
<table border="1">
    <caption>Мониторы</caption>
    <tr>
        <th>Идентификатор</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Диагональ</th>
        <th>Дата и время</th>
    </tr>
    {{#monitors}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{diagonal}}</td>
            <td>{{instant}}</td>
        </tr>
    {{/monitors}}
</table>
<div>
    <form method="post" action="deleteMonitor">
        <label>Удаление записи: <input type="number" name="number" placeholder="Введите идентификатор"
                                       size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label>Вы уверены?<input type="checkbox" name="submission"/> </label>
        <button type="submit">удалить</button>
    </form>
    <form method="post" action="editMonitor">
        <label>Редактирование записи: <input type="number" name="number" placeholder="Введите идентификатор" size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label> Название : <input type="text" name="name" placeholder="New Name"/> </label>
        <label> Диагональ : <input type="number" step="0.01" name="diagonal" placeholder="New Diagonal"/> </label>
        <label> Цена : <input type="number" step="0.01" name="price" placeholder="New Price"/> </label>
        <label> Дата : <input type="date" name="dateString" placeholder="2020-05-20"/> </label>
        <button type="submit">редактировать</button>
    </form>
</div>
<br>
<br>
<table border="1">
    <caption>Часы</caption>
    <tr>
        <th>Идентификатор</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Цвет</th>
        <th>Дата и время</th>
    </tr>
    {{#watches}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{color}}</td>
            <td>{{instant}}</td>
        </tr>
    {{/watches}}
</table>
<div>
    <form method="post" action="deleteWatch">
        <label>Удаление записи: <input type="number" name="number" placeholder="Введите идентификатор"
                                       size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label>Вы уверены?<input type="checkbox" name="submission"/> </label>
        <button type="submit">удалить</button>
    </form>
    <form method="post" action="editWatch">
        <label>Редактирование записи: <input type="number" name="number" placeholder="Введите идентификатор" size="10"/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <label> Название : <input type="text" name="name" placeholder="New Name"/> </label>
        <label> Цвет : <input type="text" name="color" placeholder="New Color"/> </label>
        <label> Цена : <input type="number" step="0.01" name="price" placeholder="New Price"/> </label>
        <label> Дата : <input type="date" name="dateString" placeholder="2020-05-20"/> </label>
        <button type="submit">редактировать</button>
    </form>
</div>
</body>
</html>